<div class="footer">
	<div class="pull-right">
		<a href="http://www.rarolabs.com.br">
			<%=image_tag(Templus.logo_rodape, height: '20px') %>
		</a>
	</div>
	<div>
		<strong><%Templus.nome_empresa%></strong> &copy; 2014-<%= DateTime.now.strftime("%Y") %>
	</div>
</div>