<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div>
					<%=image_tag('logo.png', class: 'img-responsive')%>
				</div>
			</li>
			<%= render '/layouts/menu_crud'%>
		</ul>
	</div>
</nav>