<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
		</div>

		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<%= link_to ("<i class='fa fa-user'></i>#{current_usuario.nome}").html_safe, edit_usuario_path(current_usuario) %>
			</li>
			<li>
				<%= link_to "<i class='fa fa-sign-out'></i> Sair</a>".html_safe, destroy_usuario_session_path, data: {method: :delete} %>
			</li>
		</ul>
	</nav>
</div>
