<li>
  <%= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, {:rel => 'prev', :remote => remote, data:  {push: 'partial', target: (!local_assigns[:target].nil? and  target) ? target : '.wiselinks-partial'}} %>
</li>
