<% content_for :corpo do %>
	<%unless params[:render] == 'modal'%>
		<%= render "/crud/links" %>
	<%end%>
  <div id="form">
    <%= render '/crud/form' %>
  </div>
<% end %>

<%= render "/crud/crud_template" %>