div.file {
  padding: 0px;
  border: none;
  margin-bottom: 0px;
  margin-right: 0px;
}
label.file {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  margin-bottom: 0px;
  margin-right: 0px;
}
input.file {
  padding: 6px 12px 6px 0px;
  border: none;
  margin-bottom: 0px;
  margin-right: 0px;
}